/* :root {
    --dark: #11172E;
    --white: #FEFEFF;
    --yellow: #F9D203;
    --darkSelect: #22283f;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
}

label, button {
    color: var(--yellow);
    background-color: var(--dark);
    border: 1px solid var(--yellow);
    padding: 10px;
}
label:hover, button:hover {
    background-color: var(--darkSelect);
} */
/* label:checked {

} */


/* input {
    display:;
} */



/* button:checked {
    color: var(--dark);
    background-color: var(--yellow);
}

.regularquestion {
    display: none;
}

ul {
    list-style:none;
    margin: 5%;
} */

/* main {
    width: 100%;
    height: 100%;
} */

/* .flexbox-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.firstquestion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


/* #chartdiv {
    position: relative;
    height:40vh; 
    width:80vw;
} */

.regularquestion {
    display: none;
}

#myChart {
    margin: 5%;
    }



#chartdiv {
    position: relative;
    height:90vh; 
    width:90vw;
}

